################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FacebookExportImageSorter/.vs/FacebookExportImageSorter
/FacebookExportImageSorter/obj
